<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Control Clientes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto mr-3">
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>&nbsp;Bienvenido {{loggedInUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/configuracion"><i class="fa fa-cog"></i>&nbsp;Configuración</a>
        </div>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="/login" class="nav-link">
          <i class="fa fa-user"></i>&nbsp;Login
        </a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a style="cursor: pointer;" (click)="logout()" class="nav-link">
          <i class="fa fa-times"></i>&nbsp;Log out
        </a>
      </li>
    </ul>
  </div>
</nav>
